div {
  width: 100px;
  height: 100px;
  border: 1px solid;
  color: black;
  font-size: small;
}
#first-div {
  float: left;
}
#second-div {
  float: right;
}
p {
  width: 80px;
  border: 2px dotted red;
  float: left;
  clear: right;
  }
